Backtesting-Env/Backtesing with JS
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Entry Long"
            },
            {
              "name": "Exit Long"
            },
            {
              "name": "Entry Short"
            },
            {
              "name": "Exit Short"
            },
            {
              "name": "Table Name"
            },
            {
              "name": "Supporting Table"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        -128
      ],
      "id": "0453f8bb-88fd-491a-bb84-1b03648db9d7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node: Advanced Strategy Converter\n * Handles:\n * 1. Simple expressions (e.g. rsi > 70)\n * 2. JS Functions (e.g. function checkEntry(current) { return current.rsi > 70; })\n * 3. Historical Lookups (e.g. historical[1].rsi)\n * 4. Human Labels (e.g. LONG: rsi > 70)\n * 5. Indicator Diffs (e.g. hma_value.diff() > 0)\n */\n\nconst input = $json.body || $json;\nconst entryLong = input.entry_long || input[\"Entry Long\"] || \"\";\nconst entryShort = input.entry_short || input[\"Entry Short\"] || \"\";\nconst exitLong = input.exit_long || input[\"Exit Long\"] || \"\";\nconst exitShort = input.exit_short || input[\"Exit Short\"] || \"\";\nconst schemaCols = input.schema_cols || [\"close\", \"high\", \"low\", \"open\", \"volume\", \"timestamp\", \"atr_value\"];\n\nfunction extractTpSl(text) {\n    const res = { tp_atr_mult: null, sl_atr_mult: null, tp_pct: null, sl_pct: null, atr_col: \"atr_value\", time_limit_hours: null };\n    const slAtrMatch = text.match(/(?:sl|stop loss).*?([\\d\\.]+)\\s*\\*\\s*(atr\\w*)/i);\n    if (slAtrMatch) { res.sl_atr_mult = parseFloat(slAtrMatch[1]); res.atr_col = slAtrMatch[2]; }\n    const tpAtrMatch = text.match(/(?:tp|take profit).*?([\\d\\.]+)\\s*\\*\\s*(atr\\w*)/i);\n    if (tpAtrMatch) { res.tp_atr_mult = parseFloat(tpAtrMatch[1]); res.atr_col = tpAtrMatch[2]; }\n    const tpPctMatch = text.match(/(?:tp|take profit).*?([\\d\\.]+)\\s*%/i);\n    if (tpPctMatch) res.tp_pct = parseFloat(tpPctMatch[1]) / 100;\n    const slPctMatch = text.match(/(?:sl|stop loss).*?([\\d\\.]+)\\s*%/i);\n    if (slPctMatch) res.sl_pct = parseFloat(slPctMatch[1]) / 100;\n    const timeMatch = text.match(/(\\d+)\\s*(?:h|hour)/i);\n    if (timeMatch) res.time_limit_hours = parseInt(timeMatch[1]);\n    return res;\n}\n\nfunction toPython(logicStr, type = \"\") {\n    if (!logicStr) return \"\";\n    let logic = logicStr.trim();\n\n    // 0. Remove JS Comments first (both block and line) to avoid interference\n    // This must happen before line joining to prevent nuking trailing parents\n    logic = logic.replace(/\\/\\*[\\s\\S]*?\\*\\//g, \"\");\n    logic = logic.replace(/\\/\\/.*/g, \"\");\n\n    function getBalancedContent(str, startChar, endChar) {\n        let count = 0;\n        let start = str.indexOf(startChar);\n        if (start === -1) return null;\n        for (let i = start; i < str.length; i++) {\n            if (str[i] === startChar) count++;\n            else if (str[i] === endChar) count--;\n            if (count === 0) return {\n                content: str.substring(start + 1, i),\n                full: str.substring(start, i + 1),\n                endIndex: i + 1\n            };\n        }\n        return null;\n    }\n\n    // 1. Remove JS variable declarations and labels line-by-line\n    // Also remove common strategy labels like \"Logic:\", \"Entry:\", etc.\n    const labels = [\"Logic:\", \"Entry Logic:\", \"Exit Logic:\", \"Entry Short:\", \"Entry Long:\", \"Exit Short:\", \"Exit Long:\", \"Short Entry:\", \"Long Entry:\", \"Short Exit:\", \"Long Exit:\", \"LONG:\", \"SHORT:\", \"TP:\", \"SL:\", \"Exit:\", \"Stop Loss:\", \"Take Profit:\"];\n    let lines = logic.split('\\n').map(line => {\n        let l = line.trim();\n        // Remove const/let/var lines if they are just assignments\n        if (/^(const|let|var)\\s+\\w+\\s*=/.test(l)) {\n            l = l.replace(/^(const|let|var)\\s+\\w+\\s*=\\s*/, '');\n        }\n        // Remove labels\n        labels.forEach(label => {\n            if (l.toLowerCase().startsWith(label.toLowerCase())) {\n                l = l.substring(label.length).trim();\n            }\n        });\n        return l;\n    }).filter(l => l.length > 0);\n    logic = lines.join(' ').trim();\n\n    // 2. Scrape JS logic from function or if statement\n    // Precise check for \"if\" at the very beginning\n    if (/^\\s*if\\s*\\b/i.test(logic)) {\n        const balanced = getBalancedContent(logic, \"(\", \")\");\n        if (balanced) {\n            const remainder = logic.substring(balanced.endIndex).trim();\n            // If followed by { or contains \"return\", it's likely a real JS if statement\n            if (remainder.startsWith(\"{\") || /\\breturn\\b/i.test(remainder)) {\n                logic = balanced.content.trim();\n            } else {\n                // Otherwise, it's probably pseudo-code like \"if (A) or (B)\"\n                // Just strip the \"if\" prefix and leave the rest\n                logic = logic.replace(/^\\s*if\\s*\\b/i, \"\").trim();\n            }\n        } else {\n            // No parentheses found, just strip the \"if\"\n            logic = logic.replace(/^\\s*if\\s*\\b/i, \"\").trim();\n        }\n    }\n    else if (logic.includes(\"{\") && logic.includes(\"}\")) {\n        // Case B: anonymous block or function { return condition; }\n        const bodyMatch = logic.match(/\\{([\\s\\S]*)\\}/);\n        if (bodyMatch) {\n            let body = bodyMatch[1].trim();\n            const returnMatch = body.match(/return\\s+([\\s\\S]*?);?\\s*$/);\n            if (returnMatch) {\n                logic = returnMatch[1];\n            } else {\n                logic = body;\n            }\n        }\n    }\n\n    // 4. Translate Object/Array Notation\n    logic = logic.replace(/historical\\[(\\d+)\\]\\.(\\w+)/g, \"$2_prev$1\");\n    logic = logic.replace(/current\\.(\\w+)/g, \"$1\");\n\n    // 5. Normalize operators (Case-Insensitive)\n    logic = logic.replace(/(\\w+)\\.diff\\(\\)\\s*>\\s*0/gi, \"($1 > $1_prev)\");\n    logic = logic.replace(/(\\w+)\\.diff\\(\\)\\s*<\\s*0/gi, \"($1 < $1_prev)\");\n    logic = logic.replace(/\\bAND\\b/gi, 'and').replace(/\\bOR\\b/gi, 'or').replace(/\\bNOT\\b/gi, 'not');\n\n    // 6. Handle \"crosses\"\n    logic = logic.replace(/(\\w+)\\s+(crosses\\s+(above|below))\\s+([\\w\\d\\.-]+)/gi, (match, ind, p2, op, target) => {\n        const isCol = /^[a-zA-Z_]\\w*$/.test(target);\n        const targetPrev = isCol ? `${target}_prev` : target;\n        return op.toLowerCase().includes(\"above\") ? `(${ind} > ${target} and ${ind}_prev <= ${targetPrev})` : `(${ind} < ${target} and ${ind}_prev >= ${targetPrev})`;\n    });\n\n    // 7. Auto-fix comparison if missing (e.g., \"entry_price + buffer\")\n    if (type) {\n        const parts = logic.split(/\\b(OR|AND|or|and)\\b/g);\n        logic = parts.map(p => {\n            let trimmed = p.trim();\n            if (/^(OR|AND|or|and)$/i.test(trimmed)) return trimmed;\n\n            // Nuke parts that are purely values or fixed TP/SL declarations (e.g. \"2%\", \"Fixed 2%\", \"SL: 1%\")\n            // These shouldn't be in the execution logic string.\n            if (/^(\\d+(\\.\\d+)?%?|fixed\\s*\\d+(\\.\\d+)?%?)$/i.test(trimmed.toLowerCase().replace(/^(tp|sl|stop loss|take profit|exit):?\\s*/i, \"\"))) {\n                return \"\";\n            }\n\n            if ((trimmed.toLowerCase().includes('entry_price') || trimmed.toLowerCase().includes('sl') || trimmed.toLowerCase().includes('tp')) && !/[<>=]/.test(trimmed)) {\n                // Remove trailing unbal paren before prefixing\n                let subP = (trimmed.match(/\\(/g) || []).length;\n                let subC = (trimmed.match(/\\)/g) || []).length;\n                if (subC > subP) trimmed = trimmed.replace(/\\)+$/, \"\");\n                return type === 'long' ? `(price_value <= ${trimmed})` : `(price_value >= ${trimmed})`;\n            }\n            return p;\n        }).filter(p => p.length > 0).join(' ');\n    }\n\n    // 8. Final Cleanup & Paren balancing\n    logic = logic.replace(/\\b(const|let|var)\\b/g, \"\");\n    logic = logic.replace(/%/g, \"\"); // Remove percent signs\n    logic = logic.replace(/[.`*;]+$/, \"\").trim();\n\n    let openC = (logic.match(/\\(/g) || []).length;\n    let closeC = (logic.match(/\\)/g) || []).length;\n    while (closeC > openC) { logic = logic.replace(/\\)(?=[^)]*$)/, \"\"); closeC--; }\n    while (openC > closeC) { logic += \")\"; openC++; }\n\n    return logic;\n}\n\nfunction getNeededCols(logicStrings, schema) {\n    const found = new Set();\n    const reserved = new Set([\"and\", \"or\", \"not\", \"if\", \"else\", \"true\", \"false\", \"none\", \"entry_price\", \"price_value\", \"tp\", \"sl\", \"time\", \"exit\", \"force\", \"condition\", \"atr\", \"below\", \"above\", \"crosses\", \"return\", \"long\", \"short\"]);\n    logicStrings.forEach(s => {\n        const words = s.match(/\\b[a-zA-Z_]\\w*\\b/g) || [];\n        words.forEach(w => {\n            const cleanW = w.replace(/_prev\\d*$/, \"\"); // Updated to handle _prev2, _prev3 etc\n            if (!reserved.has(cleanW.toLowerCase()) && isNaN(cleanW)) found.add(cleanW);\n        });\n    });\n    [\"open\", \"high\", \"low\", \"close\", \"volume\", \"timestamp\", \"atr_value\"].forEach(std => found.add(std));\n    if (schema && schema.length > 0) {\n        const schemaMap = schema.reduce((acc, s) => { acc[s.toLowerCase()] = s; return acc; }, {});\n        return Array.from(found).map(col => schemaMap[col.toLowerCase()] || col);\n    }\n    return Array.from(found);\n}\n\n// Logic Isolator: Prioritize parts with comparison operators or technical keywords\nfunction cleanLogic(text) {\n    if (!text.includes(\"|\")) return text;\n    const parts = text.split(\"|\");\n    const logicPart = parts.find(p => /[<>=]|prev|diff|crosses|between/i.test(p));\n    return logicPart ? logicPart.trim() : parts[0].trim();\n}\n\nconst exitLongClean = cleanLogic(exitLong);\nconst exitShortClean = cleanLogic(exitShort);\n\nconst data = {\n    entry_long: toPython(entryLong, 'long'),\n    entry_short: toPython(entryShort, 'short'),\n    exit_long: toPython(exitLongClean, 'long'),\n    exit_short: toPython(exitShortClean, 'short'),\n    tp_atr_mult: null, sl_atr_mult: null, tp_pct: null, sl_pct: null, atr_col: \"atr_value\",\n    time_limit_hours: null\n};\n\nconst tpSlLong = extractTpSl(exitLong);\nconst tpSlShort = extractTpSl(exitShort);\n\n[\"tp_atr_mult\", \"sl_atr_mult\", \"tp_pct\", \"sl_pct\", \"atr_col\", \"time_limit_hours\"].forEach(k => {\n    data[k] = tpSlLong[k] || tpSlShort[k] || data[k];\n});\n\ndata.needed_cols = getNeededCols([data.entry_long, data.entry_short, data.exit_long, data.exit_short], schemaCols);\n\n// Output a single stringified JSON object\nreturn {\n    json: {\n        logic_str: JSON.stringify(data)\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -128
      ],
      "id": "dc025874-af96-4984-954e-891c980cbecc",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "command": "=python3 /home/contact/BackTesting/2.py \\\n  --table=\"{{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"Table Name\"] }}_TAAPI_Indicator_snapshot\" \\\n  --exit_table=\"{{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"Supporting Table\"] }}_TAAPI_Indicator_snapshot\" \\\n  --verbose \\\n  --logic_str='{{ $item(\"0\").$node[\"Code in JavaScript2\"].json[\"logic_str\"] }}'\n",
        "cwd": "/home/contact/BackTesting/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "644e5fd6-732f-4e6f-a636-6a6dfc13449c",
      "name": "Execute a command5",
      "credentials": {
        "sshPassword": {
          "id": "JqAzrb1tMA3JVtYj",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b089895f-9f04-45d8-8689-0277d2955a5e",
              "name": "Setfield",
              "value": "=cat << 'EOF' > 2.py\n#!/usr/bin/env python3\nimport pandas as pd\nimport numpy as np\nimport os\nimport json\nimport argparse\nimport re\nimport time\ntry:\n    from dotenv import load_dotenv\n    load_dotenv()\nexcept ImportError:\n    pass\n\n# ==========================================\n# 1. CONFIGURATION\n# ==========================================\nclass Config:\n    SUPABASE_URL = os.getenv(\"SUPABASE_URL\")\n    SUPABASE_KEY = os.getenv(\"SUPABASE_KEY\")\n    CASH = 1000000\n    COMMISSION = 0.0003\n    MARGIN = 0.33\n    ALLOW_FLIPPING = True\n    MODE = 'both'\n\ndef is_downtime(dt_iso):\n    ist_time = dt_iso + pd.Timedelta(hours=5, minutes=30)\n    weekday = ist_time.weekday()\n    hour = ist_time.hour\n    if weekday == 5 and hour >= 7: return True\n    if weekday == 6 and hour < 19: return True\n    return False\n\n# ==========================================\n# 2. DATA LOADER (SUPABASE)\n# ==========================================\ndef load_data(url, key, table_name, needed_cols, max_retries=5, debug=False):\n    from supabase import create_client\n    supabase = create_client(url, key)\n    \n    for attempt in range(max_retries):\n        try:\n            # 1. Get available columns first to be resilient\n            try:\n                schema_res = supabase.table(table_name).select(\"*\").limit(1).execute()\n                if schema_res.data:\n                    # Build a lowercase→original-case map so SELECT uses the exact DB casing\n                    col_map = {c.lower(): c for c in schema_res.data[0].keys()}\n                    available_lower = set(col_map.keys())\n                    if debug:\n                        print(f\"\\n[DEBUG] All columns in '{table_name}':\")\n                        print(\"  \" + \", \".join(sorted(col_map.values())))\n                        missing = {c.lower() for c in needed_cols} - available_lower\n                        if missing:\n                            print(f\"[DEBUG] ⚠️  MISSING cols (in needed_cols but NOT in table): {sorted(missing)}\")\n                        else:\n                            print(\"[DEBUG] ✅ All needed_cols present in table.\")\n                    # Use original DB casing in fetch list (Supabase/Postgres is case-sensitive)\n                    fetch_cols = [col_map[c.lower()] for c in needed_cols if c.lower() in col_map]\n                    for essential in ['open','high','low','close','timestamp']:\n                        if essential in col_map and col_map[essential] not in fetch_cols:\n                            fetch_cols.append(col_map[essential])\n                else:\n                    fetch_cols = list(set(needed_cols + ['open','high','low','close','timestamp']))\n            except Exception:\n                fetch_cols = list(set(needed_cols + ['open','high','low','close','timestamp']))\n\n            cols_str = \",\".join(list(set(fetch_cols)))\n            limit = 5000 if '1H' in table_name.upper() else 15000\n            \n            all_data = []\n            for offset in range(0, limit, 1000):\n                res = supabase.table(table_name).select(cols_str).order('timestamp', desc=True).range(offset, offset + 999).execute()\n                if not res.data: break\n                all_data.extend(res.data)\n                if len(res.data) < 1000: break\n            \n            if not all_data:\n                raise ValueError(f\"No data found in table {table_name}\")\n\n            df = pd.DataFrame(all_data)\n            df.columns = [c.lower() for c in df.columns]\n            ts_col = 'timestamp' if 'timestamp' in df.columns else [c for c in df.columns if 'time' in c][0]\n            \n            # Fix pandas deprecation warning: explicitly convert to numeric before to_datetime\n            df[ts_col] = pd.to_numeric(df[ts_col], errors='coerce')\n            df = df.dropna(subset=[ts_col])          # drop NULL-timestamp rows (come first in desc fetch)\n            ts_sample = df[ts_col].iloc[0]\n            unit = 's' if ts_sample < 1e12 else 'ms'\n            df[ts_col] = pd.to_datetime(df[ts_col], unit=unit)\n            df.set_index(ts_col, inplace=True)\n            for col in df.columns:\n                if col != ts_col:\n                    converted = pd.to_numeric(df[col], errors='coerce')\n                    # Only use numeric conversion if most values successfully convert\n                    # Preserves string columns like supertrend_Advice ('short'/'long')\n                    if converted.notna().mean() >= 0.5:\n                        df[col] = converted\n                    # else: keep original strings for eval comparisons (e.g. col == 'short')\n            # ffill/bfill only on numeric columns to avoid propagating string values oddly\n            num_cols = df.select_dtypes(include='number').columns\n            df[num_cols] = df[num_cols].ffill().bfill()\n            return df[~df.index.duplicated(keep='first')].sort_index()\n            \n        except Exception as e:\n            if attempt < max_retries - 1:\n                wait_time = 2 ** attempt\n                print(f\"Warning: Connection error for {table_name} (Attempt {attempt+1}/{max_retries}): {e}. Retrying in {wait_time}s...\")\n                time.sleep(wait_time)\n            else:\n                print(f\"Error: Failed to load data {table_name} after {max_retries} attempts.\")\n                raise e\n\n# ==========================================\n# 3. BACKTEST ENGINE\n# ==========================================\nclass Position:\n    def __init__(self, size, entry_price, entry_time, is_long):\n        self.size = size\n        self.entry_price = entry_price\n        self.entry_time = entry_time\n        self.is_long = is_long\n\nclass BaseStrategy:\n    def __init__(self, data, cash, commission, leverage):\n        self.full_data, self.cash, self.commission, self.leverage = data, cash, commission, leverage\n        self.data = data\n        self.position, self.closed_pnls, self.trade_history = None, [], []\n        self.tp_price = self.sl_price = 0\n        self.data_15m = None\n        # Detect frequency once\n        if len(data) > 1:\n            self.duration = data.index[1] - data.index[0]\n        else:\n            self.duration = pd.Timedelta(hours=1)\n        \n    def buy(self, price, time, duration=pd.Timedelta(hours=1)):\n        if self.position: return\n        self.position = Position(0.99, price, time + duration, True)\n\n    def sell(self, price, time, duration=pd.Timedelta(hours=1)):\n        if self.position: return\n        self.position = Position(0.99, price, time + duration, False)\n\n    def _close(self, current_price, reason, exit_time):\n        if not self.position: return\n        pnl_pct = (current_price - self.position.entry_price) / self.position.entry_price if self.position.is_long else (self.position.entry_price - current_price) / self.position.entry_price\n        final_pnl = (pnl_pct * self.leverage) - (self.commission * 2 * self.leverage)\n        self.closed_pnls.append(final_pnl)\n        self.trade_history.append({\n            'entry_time': self.position.entry_time, \n            'exit_time': exit_time, \n            'type': 'LONG' if self.position.is_long else 'SHORT', \n            'entry_price': self.position.entry_price, \n            'exit_price': current_price, \n            'pnl': final_pnl, \n            'reason': reason\n        })\n        self.position = None\n        self.tp_price = self.sl_price = 0\n        return True # Indicate closure\n\nclass MyStrategy(BaseStrategy):\n    def init(self, logic_data, debug=False):\n        self.logic = logic_data\n        # Normalize logic strings: lowercase and strip trailing and/or\n        for key in ['entry_long', 'entry_short', 'exit_long', 'exit_short']:\n            if self.logic.get(key):\n                s = self.logic[key].lower()\n                s = re.sub(r'\\bAND\\b', 'and', s, flags=re.IGNORECASE)\n                s = re.sub(r'\\bOR\\b', 'or', s, flags=re.IGNORECASE)\n                s = re.sub(r'\\bNOT\\b', 'not', s, flags=re.IGNORECASE)\n                # Strip trailing operators with boundary check\n                s = re.sub(r'\\b(and|or|not)\\s*$', '', s, flags=re.IGNORECASE).strip()\n                self.logic[key] = s\n        self.processed_timestamps = set()\n        self.debug = debug\n        self._debug_ctx_printed = False\n\n        # Detect 15m freq if possible for better exit timestamps\n        self.freq_15m = pd.Timedelta(minutes=15)\n        if self.data_15m is not None and len(self.data_15m) > 1:\n            self.freq_15m = self.data_15m.index[1] - self.data_15m.index[0]\n\n    def _check_tp_sl_time(self, t, h, l, c):\n        if not self.position: return False\n        \n        # 1. Time Limit Check\n        if self.logic.get('time_limit_hours'):\n            duration = (t - self.position.entry_time).total_seconds() / 3600\n            if duration >= self.logic['time_limit_hours']:\n                self._close(c, f\"Time Exit ({self.logic['time_limit_hours']}h)\", t)\n                return True\n\n        # 2. TP/SL Check\n        entry = self.position.entry_price\n        if self.position.is_long:\n            if (self.logic.get('sl_pct') and l <= entry * (1 - self.logic['sl_pct'])) or (self.sl_price and l <= self.sl_price):\n                exit_p = self.sl_price or entry * (1 - self.logic['sl_pct'])\n                self._close(exit_p, \"SL Hit\", t)\n                return True\n            if (self.logic.get('tp_pct') and h >= entry * (1 + self.logic['tp_pct'])) or (self.tp_price and h >= self.tp_price):\n                exit_p = self.tp_price or entry * (1 + self.logic['tp_pct'])\n                self._close(exit_p, \"TP Hit\", t)\n                return True\n        else:\n            if (self.logic.get('sl_pct') and h >= entry * (1 + self.logic['sl_pct'])) or (self.sl_price and h >= self.sl_price):\n                exit_p = self.sl_price or entry * (1 + self.logic['sl_pct'])\n                self._close(exit_p, \"SL Hit\", t)\n                return True\n            if (self.logic.get('tp_pct') and l <= entry * (1 - self.logic['tp_pct'])) or (self.tp_price and l <= self.tp_price):\n                exit_p = self.tp_price or entry * (1 - self.logic['tp_pct'])\n                self._close(exit_p, \"TP Hit\", t)\n                return True\n        return False\n\n    # String constants available in all eval() calls.\n    # Lets bare unquoted words like: supertrend_advice == short  work correctly.\n    _EVAL_GLOBALS = {\n        \"__builtins__\": {},\n        \"short\": \"short\", \"long\": \"long\", \"buy\": \"buy\", \"sell\": \"sell\",\n    }\n\n    def _safe_eval(self, expr, ctx, label):\n        \"\"\"Eval with NameError reported separately so missing columns are surfaced.\"\"\"\n        if not hasattr(self, '_reported_errors'):\n            self._reported_errors = set()\n        try:\n            return bool(eval(expr, self._EVAL_GLOBALS, ctx))\n        except NameError as e:\n            # Deduplicate: only print the first occurrence of each unique error\n            err_key = (label, str(e))\n            if err_key not in self._reported_errors:\n                self._reported_errors.add(err_key)\n                if self.debug or getattr(self, 'verbose', False):\n                    print(f\"[DEBUG] ❌ NameError in {label}: {e} — add this var to needed_cols or fix expression\")\n            return False\n        except Exception as e:\n            err_key = (label, str(e))\n            if err_key not in self._reported_errors:\n                self._reported_errors.add(err_key)\n                if getattr(self, 'verbose', False):\n                    print(f\"[DEBUG] Error in {label}: {e}\")\n            return False\n\n    def next(self):\n        t = self.data.index[-1]\n        if t in self.processed_timestamps: return\n        self.processed_timestamps.add(t)\n        \n        row = self.data.iloc[-1]\n        duration = self.duration\n\n        if is_downtime(t):\n            if self.position: self._close(row['close'], \"Downtime\", t + duration)\n            return\n\n        # Monitoring Check (Sub-candle or Fallback to 1H)\n        if self.position:\n            found_exit = False\n            if self.data_15m is not None:\n                sub = self.data_15m[(self.data_15m.index >= t) & (self.data_15m.index < t + duration)]\n                if not sub.empty:\n                    for t_sub, r_sub in sub.iterrows():\n                        if self._check_tp_sl_time(t_sub + self.freq_15m, r_sub['high'], r_sub['low'], r_sub['close']):\n                            found_exit = True\n                            break\n                else:\n                    # Fallback to 1H candle OHLC if 15m data missing for this window\n                    found_exit = self._check_tp_sl_time(t + duration, row['high'], row['low'], row['close'])\n            else:\n                found_exit = self._check_tp_sl_time(t + duration, row['high'], row['low'], row['close'])\n            \n            # If a mid-candle TP/SL or time exit happens, we MUST NOT check for re-entry \n            # until the NEXT 1H candle. We skip the entry logic for this iteration.\n            if found_exit: \n                return\n\n        # Logic Context\n        ctx = {c.lower(): row[c.lower()] for c in self.logic['needed_cols'] if c.lower() in row}\n        \n        # Add historical lookups (_prevN)\n        for i in range(1, 11):\n            if len(self.data) > i:\n                prev_row = self.data.iloc[-(i+1)]\n                for c in self.logic['needed_cols']:\n                    lc = c.lower()\n                    if lc in prev_row:\n                        suffix = \"_prev\" if i == 1 else f\"_prev{i}\"\n                        ctx[f\"{lc}{suffix}\"] = prev_row[lc]\n\n        entry_price_val = self.position.entry_price if self.position else 0\n        ctx.update({\n            'close':       row['close'],\n            'high':        row['high'],\n            'low':         row['low'],\n            'price_value': row['close'],\n            'price':       row['close'],        # alias so exit logic \"price >= entry*X\" works\n            'entry_price': entry_price_val,\n            'entry':       entry_price_val,     # alias so exit logic \"entry * X\" works\n        })\n\n        # Print ctx once in debug mode\n        if self.debug and not self._debug_ctx_printed:\n            self._debug_ctx_printed = True\n            print(f\"\\n[DEBUG] Sample ctx keys at first candle ({t}):\")\n            for k, v in sorted(ctx.items()):\n                print(f\"  {k}: {v}\")\n            print()\n\n        # Force Exits Logic (Check exits for existing positions FIRST)\n        # Guard: do NOT exit on the same candle the position was entered.\n        # entry_time = t + duration (next candle open), so if entry_time > t it's a same-bar entry.\n        if self.position and self.position.entry_time <= t:\n            if self.position.is_long:\n                if self.logic.get('exit_long'):\n                    el = self.logic['exit_long']\n                    if el.count('(') == el.count(')'):\n                        if self._safe_eval(el, ctx, 'exit_long'):\n                            self._close(row['close'], \"Exit Long Signal\", t + duration)\n                    elif getattr(self, 'verbose', False):\n                        print(f\"Unbalanced Exit Long at {t}: {repr(el)}\")\n            else:\n                if self.logic.get('exit_short'):\n                    es = self.logic['exit_short']\n                    if es.count('(') == es.count(')'):\n                        if self._safe_eval(es, ctx, 'exit_short'):\n                            self._close(row['close'], \"Exit Short Signal\", t + duration)\n                    elif getattr(self, 'verbose', False):\n                        print(f\"Unbalanced Exit Short at {t}: {repr(es)}\")\n\n            if not self.position:\n                ctx.update({'entry_price': 0, 'entry': 0})   # keep both aliases in sync\n\n        # Process Signals (Entry)\n        if not self.position:\n            long_logic  = self.logic.get('entry_long',  'False')\n            short_logic = self.logic.get('entry_short', 'False')\n\n            is_long  = (self._safe_eval(long_logic,  ctx, 'entry_long')\n                        if self.logic.get('entry_long')  and Config.MODE in ['both','long']  and long_logic.count('(') == long_logic.count(')')\n                        else False)\n            is_short = (self._safe_eval(short_logic, ctx, 'entry_short')\n                        if self.logic.get('entry_short') and Config.MODE in ['both','short'] and short_logic.count('(') == short_logic.count(')')\n                        else False)\n\n            if is_long:\n                self.buy(row['close'], t, duration=duration)\n                if self.logic.get('tp_atr_mult'): self.tp_price = row['close'] + (self.logic['tp_atr_mult'] * ctx.get(self.logic.get('atr_col', 'atr_value'), 0))\n                if self.logic.get('sl_atr_mult'): self.sl_price = row['close'] - (self.logic['sl_atr_mult'] * ctx.get(self.logic.get('atr_col', 'atr_value'), 0))\n            elif is_short:\n                self.sell(row['close'], t, duration=duration)\n                if self.logic.get('tp_atr_mult'): self.tp_price = row['close'] - (self.logic['tp_atr_mult'] * ctx.get(self.logic.get('atr_col', 'atr_value'), 0))\n                if self.logic.get('sl_atr_mult'): self.sl_price = row['close'] + (self.logic['sl_atr_mult'] * ctx.get(self.logic.get('atr_col', 'atr_value'), 0))\n\ndef calculate_detailed_metrics(pnls, trade_history=None, df=None, risk_free_rate_annual=0.05):\n    if not pnls: return {'ret': 0, 'simple_ret': 0, 'trd': 0, 'wr': 0, 'pf': 0, 'mdd': 0, 'sharpe': 0, 'bar': \"░\" * 8}\n    \n    total_ret_comp = (np.prod([1 + p for p in pnls]) - 1) * 100\n    total_ret_simple = sum(pnls) * 100\n    \n    wr = (len([p for p in pnls if p > 0]) / len(pnls) * 100)\n    \n    pos_sum = sum([p for p in pnls if p > 0])\n    neg_sum = abs(sum([p for p in pnls if p < 0]))\n    pf = pos_sum / neg_sum if neg_sum > 0 else (10.0 if pos_sum > 0 else 0)\n    \n    # MDD (compounded peak-to-valley)\n    cum_ret = np.cumprod([1 + p for p in pnls])\n    peak = np.maximum.accumulate(cum_ret)\n    dd = (cum_ret - peak) / peak\n    mdd = np.min(dd) * 100\n    \n    # ── Sharpe Ratio (Trade-based) ─────────────────────────────────\n    sharpe = 0.0\n    if len(pnls) >= 2:\n        trades_per_year = 252.0\n        ann_mean = np.mean(pnls) * trades_per_year\n        ann_std = np.std(pnls, ddof=1) * np.sqrt(trades_per_year)\n        if ann_std > 1e-9:\n            sharpe = (ann_mean - risk_free_rate_annual) / ann_std\n    \n    # Visual Bar Chart for Win Rate\n    filled = round(wr / 100 * 8)\n    bar = \"█\" * filled + \"░\" * (8 - filled)\n    \n    return {'ret': total_ret_comp, 'simple_ret': total_ret_simple, 'trd': len(pnls), 'wr': wr, 'pf': pf, 'mdd': mdd, 'sharpe': sharpe, 'bar': bar}\n\ndef diagnose_logic(df, logic):\n    \"\"\"Print indicator value ranges and entry condition hit rates to diagnose 0-trade issues.\"\"\"\n    print(f\"\\n{'='*85}\")\n    print(f\"{'DIAGNOSIS — Indicator Stats & Condition Hit Rates':^85}\")\n    print(f\"{'='*85}\")\n    indicator_cols = [c.lower() for c in logic['needed_cols']\n                      if c.lower() in df.columns and c.lower() not in ('open','high','low','close','volume','timestamp')]\n    print(f\"\\n{'Column':<35} {'Min':>12} {'Mean':>12} {'Max':>12}\")\n    print(\"-\" * 75)\n    for col in sorted(indicator_cols):\n        print(f\"{col:<35} {df[col].min():>12.4f} {df[col].mean():>12.4f} {df[col].max():>12.4f}\")\n    print(f\"\\n{'='*85}\")\n    print(\"Entry condition hit rates (last 500 candles, ignoring position state):\")\n    print(\"-\" * 85)\n    sample = df.tail(500)\n    for label, key in [(\"Entry LONG\", \"entry_long\"), (\"Entry SHORT\", \"entry_short\")]:\n        expr = logic.get(key, '')\n        if not expr: continue\n        expr_lower = expr.lower()\n        hits, errors = 0, set()\n        for _, row in sample.iterrows():\n            ctx = {c.lower(): row[c.lower()] for c in logic['needed_cols'] if c.lower() in row}\n            ctx.update({'close': row['close'], 'high': row['high'], 'low': row['low'],\n                        'price': row['close'], 'price_value': row['close'], 'entry_price': 0, 'entry': 0})\n            try:\n                if eval(expr_lower, {\"__builtins__\": {}}, ctx): hits += 1\n            except NameError as e: errors.add(str(e))\n            except Exception as e: errors.add(str(e))\n        pct = hits / len(sample) * 100\n        print(f\"  {label}: {hits}/{len(sample)} candles  ({pct:.1f}%)\")\n        print(f\"    Expr: {expr_lower}\")\n        if errors: print(f\"    ⚠️  Errors (missing vars): {errors}\")\n    dt_count = sum(1 for t in df.index if is_downtime(t))\n    print(f\"\\n  Downtime candles filtered: {dt_count}/{len(df)}  ({dt_count/len(df)*100:.1f}%)\")\n    print(f\"{'='*85}\\n\")\n\ndef run_period(df, df_15m, logic, mode, verbose=False, debug=False):\n    Config.MODE = mode\n    bt = MyStrategy(df, Config.CASH, Config.COMMISSION, round(1/Config.MARGIN))\n    bt.verbose = verbose\n    bt.data_15m = df_15m\n    bt.init(logic, debug=debug)\n    \n    # Range starts from 2 to match 1.py (skips first candle for signal lookback)\n    for i in range(2, len(df)+1):\n        bt.data = df.iloc[:i]\n        bt.next()\n    \n    # Finalize open position at the end of the period to match 1.py\n    if bt.position:\n        bt._close(bt.data['close'].iloc[-1], \"Finalize\", bt.data.index[-1])\n        \n    metrics = calculate_detailed_metrics(bt.closed_pnls, trade_history=bt.trade_history, df=df)\n    metrics['hist'] = bt.trade_history\n    return metrics\n\ndef main():\n    parser = argparse.ArgumentParser()\n    parser.add_argument(\"--logic_file\", help=\"Path to strategy logic JSON\")\n    parser.add_argument(\"--logic_str\", help=\"JSON string of strategy logic\")\n    parser.add_argument(\"--table\", default=\"BTC_1H_TAAPI_Indicator_snapshot\")\n    parser.add_argument(\"--exit_table\", default=\"BTC_15min_TAAPI_Indicator_snapshot\")\n    parser.add_argument(\"--url\", help=\"Supabase URL\")\n    parser.add_argument(\"--key\", help=\"Supabase Key\")\n    parser.add_argument(\"--verbose\",    action=\"store_true\", help=\"Print detailed trade history\")\n    parser.add_argument(\"--full_history\", action=\"store_true\", help=\"Print full trade history\")\n    parser.add_argument(\"--debug_cols\", action=\"store_true\", help=\"Show actual DB columns vs needed_cols\")\n    parser.add_argument(\"--diagnose\",   action=\"store_true\", help=\"Show indicator stats + condition hit rates (exits after diagnosis)\")\n    args = parser.parse_args()\n\n    if args.url: Config.SUPABASE_URL = args.url\n    if args.key: Config.SUPABASE_KEY = args.key\n\n    if args.logic_str:\n        logic = json.loads(args.logic_str)\n    elif args.logic_file:\n        with open(args.logic_file, 'r') as f: logic = json.load(f)\n    else:\n        print(\"Error: Either --logic_file or --logic_str must be provided.\")\n        return\n    \n    if args.verbose:\n        print(f\"DEBUG: Logic Dictionary: {json.dumps(logic, indent=2)}\")\n    \n    if not Config.SUPABASE_URL or not Config.SUPABASE_KEY:\n        print(\"Error: Supabase URL and Key must be provided via .env or --url/--key arguments.\")\n        return\n\n    print(f\"Loading data for {args.table}...\")\n    df = load_data(Config.SUPABASE_URL, Config.SUPABASE_KEY, args.table, logic['needed_cols'], debug=args.debug_cols)\n    if args.diagnose:\n        diagnose_logic(df, logic)\n        return\n    try:\n        df_15m = load_data(Config.SUPABASE_URL, Config.SUPABASE_KEY, args.exit_table, logic['needed_cols'])\n    except:\n        try: df_15m = load_data(Config.SUPABASE_URL, Config.SUPABASE_KEY, args.exit_table, ['open','high','low','close','timestamp'])\n        except: df_15m = None\n\n    periods = {'6 Months': 180, '3 Months': 90, '1 Month': 30, '1 Week': 7, '1 Day': 1}\n    print(f\"\\n{'='*105}\")\n    print(f\"{'MARKET PHASE ADAPTIVE STRATEGY  —  Performance Report':^105}\")\n    print(f\"{'='*105}\")\n    print(f\"{'Period':<12} | {'Mode':<6} | {'Return':>10} | {'Trd':>4} | {'Win Rate':<17} | {'PF':>5} | {'MDD%':>8} | {'Sharpe':>7}\")\n    print(\"-\" * 105)\n    \n    history_1m = [] \n    history_6m_verbose = [] \n    first_run = True\n    for label, days in periods.items():\n        pdf = df[df.index >= df.index[-1] - pd.Timedelta(days=days)]\n        for mode in ['both', 'long', 'short']:\n            do_debug = args.debug_cols and first_run\n            res = run_period(pdf, df_15m, logic, mode,\n                             verbose=(args.verbose and label == '6 Months' and mode == 'both'),\n                             debug=do_debug)\n            first_run = False\n            wr_str = f\"{res['wr']:>5.1f}%  {res['bar']}\"\n            mode_label = f\"{mode}{' ↑' if mode=='long' else ' ↓' if mode=='short' else ''}\"\n            \n            # Show Simple Return if matches reference style, Compounded otherwise. \n            # In your reference, Simple Return (sum of PnL) seems to be used.\n            ret_val = res['simple_ret'] if label == '6 Months' else res['ret']\n            ret_str = f\"{'+' if ret_val > 0 else ''}{ret_val:>6.2f}%\"\n            print(f\"{label if mode=='both' else '':<12} | {mode_label:<6} | {ret_str:>10} | {res['trd']:>4} | {wr_str:<15} | {res['pf']:>5.2f} | {res['mdd']:>6.2f}% | {res['sharpe']:>6.2f}\")\n            if mode == 'both' and label == '1 Month': history_1m = res['hist']\n            if args.verbose and label == '6 Months' and mode == 'both': history_6m_verbose = res['hist']\n        print(\"-\" * 95)\n    \n    if args.verbose and history_6m_verbose:\n        print(f\"\\n{'='*105}\")\n        print(f\"{'TRADE HISTORY (6 MONTHS)':^105}\")\n        print(f\"{'='*105}\")\n        print(f\"{'Entry Time':<20} | {'Exit Time':<20} | {'Type':<6} | {'Entry':>10} | {'Exit':>10} | {'PnL %':>9} | {'Reason'}\")\n        print(\"-\" * 105)\n        \n        display_history = history_6m_verbose  # Always show all trades\n        if False:  # Kept for reference; --full_history flag no longer limits output\n            print(f\"... [Skipping older trades] ...\")\n\n        for t in display_history:\n            pnl_val = t['pnl'] * 100\n            pnl_str = f\"{'+' if pnl_val > 0 else ''}{pnl_val:>6.2f}%\"\n            print(f\"{t['entry_time'].strftime('%Y-%m-%d %H:%M'):<20} | {t['exit_time'].strftime('%Y-%m-%d %H:%M'):<20} | {t['type']:<7} | {t['entry_price']:>10.2f} | {t['exit_price']:>10.2f} | {pnl_str:>9} | {t['reason']}\")\n        print(\"-\" * 95)\n\n    print(f\"\\nRECENT TRADES (1 MONTH) — {len(history_1m)} total trade(s):\")\n    print(\"-\" * 95)\n    for t in history_1m:  # Show ALL trades for the period\n        print(f\"{t['entry_time']} | {t['type']:<5} | {t['entry_price']:>8.2f} -> {t['exit_price']:>8.2f} | {t['pnl']*100:>6.2f}% | {t['reason']}\")\n    print(\"-\" * 95)\n\nif __name__ == \"__main__\":\n    main()\nEOF",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -128
      ],
      "id": "96ca9b3a-3f3f-4449-bbb8-b08d5325ed32",
      "name": "Create Command Line5"
    },
    {
      "parameters": {
        "command": "={{ $json.Setfield }}",
        "cwd": "//home/contact/BackTesting/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -320,
        -128
      ],
      "id": "b13e423e-aace-438b-88b7-6c53d06f5544",
      "name": "Execute a command3",
      "credentials": {
        "sshPassword": {
          "id": "JqAzrb1tMA3JVtYj",
          "name": "SSH Password account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Create Command Line5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Command Line5": {
      "main": [
        [
          {
            "node": "Execute a command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command3": {
      "main": [
        [
          {
            "node": "Execute a command5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "Entry Long": "beta_value > 0.45 AND harami_value > 0 AND mfi_value < 48",
        "Exit Long": "CLOSE < (ENTRY_PRICE - 1.8 * atr_value) OR rsi_value > 68",
        "Entry Short": "pd_value > 0.25 AND stochrsi_FastK > 75 AND tdsequential_sellSetupIndex >= 6",
        "Exit Short": "CLOSE > (ENTRY_PRICE + 1.8 * atr_value) OR rsi_value < 32",
        "Table Name": "BTC_4H",
        "Supporting Table": "BTC_1H"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdcb0a4f1a4e7adc4302d786579018ea52d7fb8fdf4d4613277a176517826a73"
  }
}
